ul, li {
    color: blue;
    margin-top: 0;
}

li {
    list-style:georgian;
}

h4 {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .kether {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  body {
    background-color: pink;  
}